@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

@keyframes line-bottom-left {
    0% {
      transform: rotate(-135deg) translateY(0);
      opacity: 0;
    }
  
    20% {
      opacity: 1;
    }
  
    90% {
      opacity: 0;
    }
  
    100% {
      transform: rotate(-135deg) translateY(200%);
      opacity: 0;
    }
  }

@keyframes star {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



